/*==== A SIMPLE CSS RESET FROM ERIC MEYER ====*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*====HELPER COLORS====*/
/*.container {
  background-color: plum;
}

#box-01 {
  background-color: hsla(60, 100%, 60%, .85);
}

#box-02 {
  background-color: hsla(84, 84%, 56%, .85);
}

#box-03 {
  background-color: hsla(332, 69%, 51%, .85);
}

#box-04 {
  background-color: hsla(279, 60%, 44%, .85);
}

#box-05 {
  background-color: aqua;
  border-radius: 15px;
}

#box-06 {
  background-color: steelblue;
}

#box-07 {
  background-color: coral;
}

#profile-picture {
  background-color: lawngreen;
}*/

/*====BASE LAYOUT STYLES====*/
* {
  box-sizing: border-box;
}

.container {
  width: 65vw;
  height: calc(100vh - 40px);
  margin: 20px auto;
  position: relative;
}

.box {
  position: absolute;
}

#box-01 {
  width: 100%;
  height: 170px;
  left: 0;
  right: 0;
}

#box-02 {
  top: 220px;
  left: 50px;
  margin: 10px;
  padding: 10px;
  width: 40%;
  height: 110px;
}

#box-03 {
  top: 360px;
  left: 50px;
  margin: 10px;
  padding: 10px;
  width: 40%;
  height: 120px;
}

#box-04 {
  top: 500px;
  left: 50px;
  margin: 10px;
  padding: 10px;
  width: 40%;
  height: 120px;
}

#box-05 {
  bottom: 0;
  width: 100%;
  height: 50px;
}

#box-06 {
  top: 550px;
  right: 150px;
  margin: 10px;
  padding: 10px;
  width: 170px;
  height: 60px;
}

#box-07 {
  top: 450px;
  right: 150px;
  margin: 10px;
  padding: 10px;
  width: 170px;
  height: 80px;
}

#profile-picture {
  top: 200px;
  right: 150px;
  margin: 10px;
  padding: 10px;
  width: 170px;
  height: 220px
}

/*====BASE STYLES====*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 1.3;
  background: url(assets/5J36JOB.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lora', serif;
  font-family: 'Old Standard TT', serif;
}

#zebra {
  width: 100%;
  height: 170px;
  padding: 5px;
  border-radius: 15px;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

#profile-pic {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px dashed dimgray;
  background-color: gold;
  padding: 3px;
  filter: grayscale(100%);
}

#profile-pic:hover {
  transform: scale(1.2);
  filter: grayscale(50%);
}

h1 {
  font-family: 'Lora', serif;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  padding: 2px;
}

#location {
  font-family: 'Old Standard TT', serif;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

#box-07 {
  background-color: rgba(255, 226, 36, 0.9);
  border-radius: 5px;
  border-bottom: 3px solid dimgray;
  border-right: 3px solid dimgray;
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
}

li {
  display: inline;
  padding: 5px;
}

.white {
  color: white;
}

i:hover {
  transform: scale(1.2);
  filter: drop-shadow(8px 8px 8px white);
}

.first {
  text-align: left;
  font-size: 18px;
  font-family: 'Lora', serif;
  color: white;
}

.info {
  font-size: 17px;
  line-height: 1.1;
  font-family: 'Old Standard TT', serif;
  color: white;
}

#box-02, #box-03, #box-04 {
  background-color: dimgray;
  border-bottom: 5px dotted white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#school {
  color: gold;
  text-decoration: none;
}

#school:hover {
  color: white;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

#lang {
  text-align: right;
  padding: 15px;
  font-weight: 900;
}

.lang {
  text-decoration: none;
  color: white;
}

.lang:hover {
  color: gold;
}